{% extends "emails/base.html" %}

{% block body %}
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      {% if recipient.first_name %}
        <p>{{ recipient.first_name }} —</p>
      {% endif %}
      <p>Willkommen!</p>
      <p>
        Danke, {{ recipient.first_name }}! Nur gemeinsam können wir am 2. Oktober erfolgreich sein.<br/>
        Weils um was geht.
      </p>
      <p>Team Van der Bellen</p>
      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td> <a href="http://weilsumwasgeht.at" target="_blank">Ich will aktiv werden!</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </table>
{% endblock %}

