{% load cache %}
{% load l10n %}

<li class="meetup one-third column">

    {% cache 500 meetup-info meetup %}
    <div class="map" style="background-image:url(/api/staticmaps/{{ meetup.city|urlencode }}/{{ meetup.street|urlencode }}/)">
      &nbsp;
    </div>
    <div class="info">
      <h3>{{ meetup.datetime|date:"l j.n. H:i" }}</h3>
      <p class="meetup_city"><i class="fa fa-map-marker" aria-hidden="true"></i> 
        <!--{{ meetup.postalcode }} -->{{ meetup.city }}</p>
      <p class="meetup_street">
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        <a href="https://www.openstreetmap.org/?mlat={{ meetup.coordinate.y|unlocalize }}&mlon={{ meetup.coordinate.x|unlocalize }}&zoom=15&layers=M">
          {{ meetup.street }}
        </a>
      </p>

      {% if meetup.title %}
      <p class="meetup_title"><i class="fa fa-calendar" aria-hidden="true"></i> 
        {{ meetup.title }}</p>
      {% endif %}

      {% if meetup.wahl_details != None %}
        {% if meetup.wahl_details.swingstate %}
          <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Es geht um was! Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
        {% elif meetup.wahl_details.neutral_ground %}
          <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Achtung, Unentschlossene: Hier gab es im 1. Wahlgang viele WählerInnen dritter KandidatInnen</p>
        {% elif meetup.wahl_details.wenigwahler %}
          <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Mobilisieren wir: Hier gab es viele NichtwählerInnen</p>
        {% endif %}
      {% endif %}
      <!--<p>wahl: {{ meetup.wahl_details }}</p>-->
      <p class="meetup_type"><i class="fa fa-tag" aria-hidden="true"></i> <a href="{% url 'instructions' %}">Straßenaktion</a></p>
    </div>
    {% endcache %}

    <div class="join">
      {% if meetup.type == 'potential' %}
          <a class="button" href="{% url 'join_meetup' %}?datetime={{ meetup.datetime | date:"Y-m-d" }}T{{ meetup.datetime | date:"H:i" }}&location_id={{ meetup.location_id | urlencode }}">Ich bin dabei</a>
      {% else %}
        {% if user not in meetup.activists.all %}
          <a class="button" href="{% url 'join_meetup' %}?meetup_id={{ meetup.uuid }}">Ich bin dabei</a>
        {% else %}
          <div class="attending">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i>Hier mach ich mit.
            </p>
              {% if not meetup.is_solo %}
              <p>
                <i class="fa fa-users" aria-hidden="true"></i>{{ meetup.people_string }}
              </p>
              {% endif %}
            <a class="button" href="{% url 'invite' %}{{ meetup.uuid }}">Einladen</a>
          </div>
        {% endif %}
      {% endif %}
    </div>

</li>
