{% extends "layouts/base.html" %}
{% block body_class %}address{% endblock %}

{% block content %}
<div class="full-width-container titlebar">
  <div class="container">

    <h3>
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      Am {{ date|date:"l" }}, den {{ date|date:"j" }}. in {{city}} Präsenz zeigen.
    </h3>
    <p>Nur noch ein Schritt!</p>

  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="six columns">
      <p>Wir benötigen unbedingt noch deine Adresse, um dir ein Paket Flyer, Sticker & Co zusenden zu können.</p>

      <form action="" method="POST">
        {% csrf_token %}
        {{ form.meetup_id }}
        {{ form.time_id }}
        {{ form.location_id }}

        <div class="row">
          <div class="one-half column">
            <label for="exampleEmailInput">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
          </div>
          <div class="one-half column">
            <label for="exampleRecipientInput">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}            
          </div>
        </div>
        <label for="exampleMessage">{{ form.street.label }}</label>
        {{ form.street }}
        {{ form.street.errors }}
        <div class="row">
          <div class="one-third column">
            <label for="exampleEmailInput">{{ form.postalcode.label }}</label>
            {{ form.postalcode }}
            {{ form.postalcode.errors }}
          </div>
          <div class="two-thirds column">
            <label for="exampleRecipientInput">{{ form.city.label }}</label>
            {{ form.city }}
            {{ form.city.errors }}            
          </div>
        </div>
        <label for="exampleMessage">{{ form.phone.label }}</label>
        <p class="help">{{ form.phone.help_text }}</p>
        {{ form.phone }}
        {{ form.phone.errors }}
        <p class="help">
          <i class="fa fa-check" aria-hidden="true"></i>
          Meine Daten werden zu Versandzwecken an den Verein „Gemeinsam für Van der Bellen“ weitergegeben – dieser darf mich darüber hinaus kontaktieren, um den reibungslosen Ablauf der Veranstaltung zu gewährleisten.
        </p>
        <p class="help">
         <input type="checkbox" name="legal" value="yes" checked style="float: left; margin: 0 .5em 0 0"/> 
          Ich bin bereit, als Kontaktperson für die behördlich gemeldete Versammlung zu fungieren. (optional, aber dringend erbeten &ndash; i.d.R. reine Formsache)
        </p>        
        <button type="submit" class="button-primary u-full-width">
          Aktiv werden &rarr;
        </button>
      </form>

    </div>
    <div class="six columns illu">
      <img src="/static/img/delivery.svg" width="70%"/>
    </div>
  </div>
</div>
<div class="full-width-container map" style="background-image:url(https://maps.googleapis.com/maps/api/staticmap?center={{ city|urlencode }},Austria&zoom=10&size=640x200&key=AIzaSyANphiyaXrFh_146PzRNbNGTozPv7Meibw)">
  <div class="map-overlay"></div>
</div>
{% endblock %}
