{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <p>Diese Aktionen finden in deiner Nähe statt:</p>
  <ul class="meetup_list">
    {% for location in locations %}
    <li class="meetup">
      <div class="row">
        <div class="two-thirds column">
          <h3>{{ location.title }}</h3>
          <p class="meetup_location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ location.postalcode }} {{ location.municipal }}</p>
          <p class="meetup_date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ location.datetime }}</p>
        </div>
        <div class="one-third column">
          <a class="event-button" href="{% url 'join_event' %}">
            <div>Jetzt mitmachen</div>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}

    <p>
      You are user {{ user.uuid }} with email {{ user.email }} in PLZ {{ user.postalcode }}
    </p>

    <p><a href="https://www.google.com/maps?hl=en&q={{ user.coordinate }}">Maps {{ user.coordinate }}</a></p>

  </ul>
  <a class="event-button" href="{% url 'start_event' %}"><div>Ich starte meine eigene Aktion!</div></a>
</div>
{% endblock %}
