{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="one-half column testimonial">
      <div></div>
      <blockquote>Ich bin dabei – für Van der Bellen!</blockquote>
      <h3>Alexandra, Wien</h3>
    </div>
    <div class="one-half column signup-bubble">
      <h2>Jetzt bist du gefordert.</h2>
      <p>Unterstütze Alexander Van der Bellen in deiner Region.</p>
      <button class="sm-button" onclick="FB.login(function(response) { statusChangeCallback(response); }, {scope: 'public_profile,email,user_location'});">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> Mit Facebook anmelden
      </button>
      <p>oder</p>

      <label for="inputPostalcode">Deine Postleitzahl</label>
      <input class="signin-input" type="number" id="inputPostalcode" placeholder="Postleitzahl">

      <label for="inputEmail" class="col-sm-4 control-label">Deine E-Mail-Adresse</label>
      <input class="signin-input" type="email" id="inputEmail" placeholder="E-Mail-Adresse">

      <button class="event-button" onclick="getDataFromForm();">
        Jetzt mithelfen!
      </button>
    </div>
  </div>
</div>
{% endblock %}
