{% extends "layouts/base.html" %}
{% block body_class %}instructions{% endblock %}

{% block content %}
<div class="page">
  <div class="container">
    <div class="row">

      <h3 class="nine columns top">So gehts: Straßenaktionen leicht gemacht</h3>
      <img src="/static/img/loudspeaker.svg" class="three columns u-max-full-width h-icon" />
    </div>

    <h4>Warum auf die Straße?</h4>
    <p>
      Wenn wir für Alexander Van der Bellen auf der Straße Präsenz zeigen, erinnern wir Menschen daran, sich mit der kommenden Wahl und ihrer Entscheidung zu beschäftigen. Wir machen sichtbar, dass die breite Bevölkerung hinter ihm steht. Wir sind auch dort unübersehbar, wo sich seine offizielle Kampagne keine Plakatständer leisten kann. Deshalb müssen wir auf die Straße. Komm mit!
    </p>

    <h4>So läuft's</h4>
    <div class="row">
    <div class="seven columns">
      <p>
        Ihr trefft euch zur vereinbarten Zeit am vereinbarten Ort. Eine oder einer von euch hat sich als KoordinatorIn eures Einsatzteams gemeldet und vom Kampagnenbüro rechtzeitig Infomaterial und Aufkleber zugeschickt bekommen, an dem ihr sie/ihn erkennen könnt, wenn ihr euch nicht sowieso schon kennt. (Coole T-Shirts, Sticker und andere Sachen gibt es übrigens auch auf <a href="http://fanderbellen.at">fanderbellen.at</a>!)
      </p>
      <p>
      Die vorgeschlagenen Treffpunkte sind jeweils an einem zentralen Ort in der jeweiligen Gemeinde. Ihr müsst aber nicht dort bleiben. Sucht die Straßen und Plätze, wo die meisten Menschen sind. Bleibt am besten nicht an einem Platz, sondern geht aktiv auf die Leute zu. Bitte beachtet, dass ihr nur auf öffentlichem Grund Material verteilen dürft. Privatgrundstücke - dazu gehören z. B. auch Bahnhöfe, Haltestellen und die Parkplätze von Einkaufs- oder Fachmarktzentren - sind tabu.
    </p>
    </div>
      <img src="/static/img/vdbmerch.jpeg" class="five columns u-max-full-width" />
    </div>
    <h4>Worum geht es?</h4>
    <p>
      Euer Ziel ist es, so viele Leute wie möglich zu überzeugen, am 2. Oktober zur Wahl zu gehen und Alexander Van der Bellen ihre Stimme zu geben.
    </p>
    <p>
      Dazu könnt ihr den Leuten das Material anbieten und sie idealerweise in kurze Gespräche verwickeln. Es hilft, die <a href="http://vanderbellen.at/ziele-inhalte">Ziele und Inhalte der Kampagne</a> ein bisschen zu kennen; die könnt ihr auf <a href="http://vanderbellen.at/ziele-inhalte">vanderbellen.at</a> nachlesen.
    </p>
    <p>
      Denkt daran: Ihr seid oft nicht die Einzigen, die die Aufmerksamkeit der Menschen haben möchten. Ihr bekommt Sie leichter, wenn ihr gleich deutlich macht, wofür ihr steht. Haltet die Flyer so, dass man das Gesicht des Professors sehen kann, sagt seinen Namen ("Am 2. Oktober: Alexander Van der Bellen"). Seid freundlich. Lächelt. Das macht einen riesigen Unterschied.
    </p>
    <h4>Wenn's mal nicht so rund läuft...</h4>
    <p>
      Wenn sich jemand mit euch unterhalten will, lasst euch gerne darauf ein. Es wird aber auch Leute geben, die nur streiten oder gar pöbeln wollen. Lasst euch auf keinen Fall auf dieses Niveau herunterziehen. Wünscht einfach einen schönen Tag und geht weiter. Das ist auch der Grund, warum ihr unbedingt mindestens zu zweit, besser zu dritt unterwegs sein und euch nicht zu weit voneinander entfernen solltet. Haltet zumindest Sichtkontakt, und kommt euch wenn nötig auch gegenseitig zu Hilfe. Die meisten Leute sind erfahrungsgemäß aber freundlich oder zumindest höflich.
    </p>
    <p>
      Bedenkt, dass es in dieser Kampagne ausschließlich um Alexander Van der Bellen geht. Ihr seid nicht Repräsentanten einer Partei und schon gar nicht für die Aktionen oder Aussagen einzelner Politiker verantwortlich. Lasst euch dazu am besten gar nicht erst auf Debatten ein. Ihr seid Teil einer breiten Bürgerbewegung, die Mitglieder aller Parteien (ja, sogar der FPÖ) umfasst.
    </p>
    <h4>Und danach?</h4>
    <p>
      Wenn ihr das ganze Material an die Frau und an den Mann gebracht habt, trefft euch am besten noch einmal kurz und tauscht eure Erfahrungen aus. Hat es Spaß gemacht? Wie war die Stimmung? Wollt ihr euch bis zur Wahl noch einmal treffen?
    </p>
    <p>
      Weil's um was geht!
    </p>

    <a href="/">&laquo; Zurück zum Anfang</a>

  </div>
</div>
{% endblock %}
