{% extends "layouts/base.html" %}
{% block body_class %}invite{% endblock %}

{% block content %}
<div class="full-width-container status">
  <div class="container">
		<!-- if first -->
		<h3><i class="fa fa-flag" aria-hidden="true"></i> Deine erste Zusage! Du wirst aktiv.</h3>
		<!--p>
			<strong>Danke, dass du dabei bist.</strong> Hier findest du einen Leitfaden für Straßenaktionen. Keine Sorge – alles ganz easy.
		</p-->
		<!-- else -->
			<!--h3><i class="fa fa-flag" aria-hidden="true"></i> Du bist dabei!</h3-->
		<!-- endif -->

		<p>
			{% if is_new %}
				Bisher fehlen leider noch einige fixe Zusagen.
			{% else %}
				<i class="fa fa-user" aria-hidden="true"></i>
				{% if not meetup.is_viable %}
          <strong><!-- todo name -->{{ other_people_string }}</strong> hat auch schon zugesagt und wird
				{% else %}
					<strong><!-- todo name -->{{ other_people_string }}</strong> haben auch schon zugesagt und werden
				{% endif %}
				Flyer und Material mitbringen.<br />
			{% endif %}
			{% if not is_viable %}
				Lade unbedingt noch Leute ein, damit diese Aktion Spaß macht und ein Erfolg wird!
			{% endif %}
		</p>
  </div>

</div>
<div class="container">

	<h3><i class="fa fa-users" aria-hidden="true"></i> Gemeinsam funktioniert’s besser.</h3>

  <p>
    Denk mal nach: Welche deiner FreundInnen würden mitkommen?
  </p>

  <button class="button-primary"><i class="fa fa-facebook" aria-hidden="true"></i></button>
  <button class="button-primary"><i class="fa fa-twitter" aria-hidden="true"></i></button>
  <button class="button-primary"><i class="fa fa-envelope" aria-hidden="true"></i></button>

	<input type="text" value="http://weilsumwasgeht.at/3f6ba" style="min-width:30%" /><button><i class="fa fa-clipboard" aria-hidden="true"></i></button>

  <p>
    <br /><br />
    <a href="{% url 'thankyou' meetup_id=meetup.uuid %}">Überspringen &raquo;</a>
  </p>
</div>
{% endblock %}
