{% extends "layouts/base.html" %}
{% load compress %}

{% block body_class %}invite{% endblock %}

{% block content %}
<div class="full-width-container titlebar status">
  <div class="container">
		<div class="row">
      <div class="two-thirds column">
		    <h3><i class="fa fa-flag" aria-hidden="true"></i> {{ user.first_name }} wird aktiv.</h3>

        <!--p>
          <strong>Danke, dass du dabei bist.</strong> Hier findest du einen Leitfaden für Straßenaktionen. Keine Sorge – alles ganz easy.
        </p-->
        <!-- else -->
          <!--h3><i class="fa fa-flag" aria-hidden="true"></i> Du bist dabei!</h3-->
        <!-- endif -->

        <p>
          {% if is_new %}
            Bisher fehlen leider noch einige fixe Zusagen.<br />
          {% else %}
            <i class="fa fa-user" aria-hidden="true"></i>
            {% if not meetup.is_viable %}
              <strong>{{ other_people_string }}</strong> hat auch schon zugesagt und wird
            {% else %}
              <strong>{{ other_people_string }}</strong> haben auch schon zugesagt und werden
            {% endif %}
            Flyer und Material mitbringen.<br />
          {% endif %}
          {% if not is_viable %}
            Lade unbedingt noch Leute ein, damit diese Aktion Spaß macht und ein Erfolg wird!
          {% endif %}
        </p>
      </div>
      <div class="one-third column">
        {% include "_meetup_minimal.html" %}
      </div>
    </div>
  </div>

</div>
<div class="container">

	<h3><i class="fa fa-users" aria-hidden="true"></i> Gemeinsam macht’s mehr Spaß.</h3>

  <p>
    Denk mal nach: Welche deiner FreundInnen würden mitkommen?
    Lade sie mit eurer Lieblingsapp ein:
  </p>

  {% url 'thankyou' meetup_id=meetup.uuid as thankyou_url %}

  <p id="share-buttons">

    {% if request.is_mobile %}

      <a class="" id="wa-share" href="whatsapp://send?text={{ "Kommst du am "|urlencode }}{{ meetup.datetime|date:"D j"|urlencode }}{{ ". mit zu einer Aktion für Van der Bellen in "|urlencode }}{{ meetup.city|urlencode }}{{ "? Weil's um was geht: "|urlencode }}{{ invite_meetup_url|urlencode }}" data-action="share/whatsapp/share">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        per Whatsapp-Nachricht
      </a>

      <a class="" id="fb-share" href="fb-messenger://share?link={{ invite_meetup_url|urlencode }}">
        <i class="fa fa-commenting" aria-hidden="true"></i>
        per Facebook Messenger
      </a>

      <a class="" id="tg-share" href="https://telegram.me/share/url?url={{ invite_meetup_url|urlencode }}&text={{ "Kommst du am "|urlencode }}{{ meetup.datetime|date:"D j"|urlencode }}{{ ". mit zu einer Aktion für Van der Bellen in "|urlencode }}{{ meetup.city|urlencode }}{{ "? Weil's um was geht."|urlencode }}">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        per Telegram
      </a>

    {% else %}

      <a class="" id="fb-share" href="https://www.facebook.com/dialog/send?display=popup&app_id=1595950890699096&link={{ invite_meetup_url|urlencode }}&redirect_uri={{ "http://"|urlencode }}{{ request.get_host|urlencode }}{{ thankyou_url|urlencode }}" onclick="return popupCenter(this.href, 'fb-share', 555, 600)"><i class="fa fa-facebook" aria-hidden="true"></i> per Facebook-Nachricht</a>

    {% endif %}

    <a class="" id="tw-share" href="https://twitter.com/intent/tweet?text={{ "@HIER @FREUNDE @EINSETZEN Kommt ihr am "|urlencode }}{{ meetup.datetime|date:"D j"|urlencode }}{{ ". mit zu einer Aktion für VdB in "|urlencode }}{{ meetup.city }}{{ "? Weil's um was geht: "|urlencode }}{{ invite_meetup_url|urlencode }}" onclick="return popupCenter(this.href, 'tw-share', 700, 300)"><i class="fa fa-twitter" aria-hidden="true"></i> per Tweet</a>

    <a class="" href="mailto:HIER%20EINSETZEN?subject={{ invite_email_subject|urlencode }}&body={{ invite_email_body|urlencode }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> per E-Mail</a>
  </p>

  <h4>Teile den Link</h4>

  <input id="invite-url" type="text" value="{{ invite_meetup_url }}" style="min-width:30%" onclick="this.select()" />
  {% if not request.is_mobile %}
    <button class="clipboard" data-clipboard-target="#invite-url"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
    <div id="clipboard-msg"></div>
  {% endif %}

  <p>
    <br /><br />
    {% if request.is_fb_messenger %}
      <a href="https://www.messenger.com/closeWindow/?image_url=http://vdbmemes.appspot.com/static/images/weilsumwasgeht.jpg&display_text=Danke!">Fertig</a>
    {% else %}
      <a id="next-link" href="{{ thankyou_url }}">Fertig / Überspringen &raquo;</a>
    {% endif %}

  </p>

</div>

{% compress js inline %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 

    // Set up clipboard copy button
    var c = new Clipboard('.clipboard');
    var m = document.getElementById('clipboard-msg');
    c.on('success', function(e) {
      m.innerText = 'Link wurde in die Zwischenablage kopiert.'
      //e.clearSelection();
    });

    c.on('error', function(e) {
      m.innerText = 'Bitte manuell kopieren'
    });

  });

  function popupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var left = ((width / 2) - (w / 2)) + dualScreenLeft;
    var top = ((height / 2) - (h / 2)) + dualScreenTop;
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) {
      newWindow.focus();
    }

    return false;
  }
 
</script>
{% endcompress %}
{% endblock %}
