{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <h1>Flyern für VdB</h1>
  <h2>Danke für deine Anmeldung!</h2>

  <div class="row">
    <div class="one-half column">
      <h3>Gib' deine Adresse an</h3>
      <p>…, dann senden wir dir ein Starter-Kit mit Flyern und anderen Materialien für die Aktion zu.</p>
      <p>Montag, 32. August 2016, 18.00h</p>
      <p>3 andere Leute machen mit</p>
    </div>

    <div class="one-half column">
      <h3>Lade jetzt deine Freunde ein!</h3>
    </div>
  </div>
</div>
{% endblock %}
