{% extends "layouts/base.html" %}
{% block body_class %}meetups{% endblock %}

{% block content %}
<div class="page">
<div class="full-width-container coach">
  <div class="container">

    <div class="row">
      <div class="three columns">
        <div class="coach-photo">&nbsp;</div>
      </div>
      <div class="nine columns speech-bubble">
          <h3>Willkommen im Team! &nbsp;<span style="display: inline-block; transform:rotate(4deg)">&hearts;</span></h3>
          <p>
            <strong>Was gerade am wichtigsten ist:</strong> Vor Ort Präsenz zeigen – so bleiben wir zum Wahlkampfauftakt im Gespräch. Welche dieser Straßenaktion in deiner Gegend passt dir zeitlich am besten?
          </p>
      </div>
    </div>
  </div>

</div>
<div class="container">

  <ul class="row meetup_list">
    {% for meetup in meetups %}
 
      {% include "_meetup.html" with type='real' date=meetup.datetime %}

    {% empty %}

      {% for start_time, end_time in potential_meetup.proposed_times %}
        {% include "_meetup.html" with type='potential' meetup=potential_meetup date=start_time %}
      {% endfor %}

    {% endfor %}
    <!--p>
      You are user {{ user.uuid }} with email {{ user.email }} in PLZ {{ user.postalcode }}
    </p>
    <p><a href="https://www.google.com/maps?hl=en&q={{ user.coordinate }}">Maps </a></p-->

  </ul>
</div>
</div>
{% endblock %}
