{% extends "layouts/base.html" %}
{% block body_class %}meetups{% endblock %}

{% block content %}
<div class="full-width-container coach">
  <div class="container">

    <div class="row">
      <div class="three columns">
        <div class="coach-photo">&nbsp;</div>
      </div>
      <div class="nine columns speech-bubble">
          <h3>Willkommen im Team! &nbsp;<span style="display: inline-block; transform:rotate(4deg)">&hearts;</span></h3>
          <p>
            <strong>Was gerade am wichtigsten ist:</strong> Lokal Präsenz zeigen – bitte mach bei einer Verteilaktion in deiner Gegend mit! So erreichen wir ganz Österreich und bleiben wir im Gespräch.
          </p>
      </div>
    </div>
  </div>

</div>
<div class="container">

  <ul class="meetup_list">
    {% for meetup in meetups %}
    <li class="meetup">
      <div class="row">
        <div class="three columns map" style="background-image:url(https://maps.googleapis.com/maps/api/staticmap?center={{ meetup.street }},{{ meetup.city }},Austria&zoom=15&size=300x300&key=AIzaSyANphiyaXrFh_146PzRNbNGTozPv7Meibw)">
          &nbsp;
        </div>
        <div class="seven columns info">
          <h3>{{ meetup.title }}{{ location.title }}</h3>
          <p class="meetup_location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ meetup.street }}, {{ meetup.city }}</p>
          {% if meetup.wahl_details != None %}
            {% if meetup.wahl_details.swingstate %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% elif meetup.wahl_details.neutral_ground %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% elif meetup.wahl_details.wenigwahler %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% endif %}
          {% endif %}
          <!--<p>wahl: {{ meetup.wahl_details }}</p>-->
          <p class="meetup_type"><i class="fa fa-tag" aria-hidden="true"></i> <a href="#">Verteilaktion</a></p>
        </div>
        <div class="two columns join">
          <span class="date-nice">{{ meetup.datetime|date:"l" }}</span>
          <span class="date-full">{{ meetup.datetime|date:"j. M" }}</span>
          <span class="date-hour">{{ meetup.datetime|date:"H" }} Uhr</span>

          <a class="button" href="{% url 'join_meetup' %}">Bin dabei</a>
        </div>
      </div>
    </li>
    {% endfor %}
    <li class="meetup">
      <div class="row">
        <div class="two columns map" style="background-image:url(https://maps.googleapis.com/maps/api/staticmap?center={{ potential_meetup.street }},{{ potential_meetup.city }},Austria&zoom=15&size=300x300&key=AIzaSyANphiyaXrFh_146PzRNbNGTozPv7Meibw)">
          &nbsp;
        </div>
        <div class="four columns info">
          <h3>{{ potential_meetup.title }}</h3>
          <p class="meetup_location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ potential_meetup.street }}, {{ potential_meetup.city }}</p>
          <!--p class="meetup_date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ potential_meetup.datetime }}</p-->
          {% if potential_meetup.wahl_details != None %}
            {% if potential_meetup.wahl_details.swingstate %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% elif potential_meetup.wahl_details.neutral_ground %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% elif potential_meetup.wahl_details.wenigwahler %}
              <p class="meetup_funfact"><i class="fa fa-fire" aria-hidden="true"></i> Hier war’s knapp - können wir den Bezirk für uns gewinnen?</p>
            {% endif %}
          {% endif %}

          <p class="meetup_type"><i class="fa fa-tag" aria-hidden="true"></i> <a href="#">Verteilaktion</a></p>
        </div>
        {% for start_time, end_time in potential_meetup.proposed_times %}
        <div class="two columns join">
          <span class="date-nice">{{ start_time|date:"l" }}</span>
          <span class="date-full">{{ start_time|date:"j. M" }}</span>
          <span class="date-hour">{{ start_time|date:"H" }}-{{ end_time|date:"H" }} Uhr</span>
          <a class="button" href="{% url 'join_meetup' %}?time_id={{ forloop.counter0 | urlencode }}&location_id={{ potential_meetup_id | urlencode }}">Bin dabei</a>
        </div>
        {% endfor %}
      </div>
    </li>

    <p>
      You are user {{ user.uuid }} with email {{ user.email }} in PLZ {{ user.postalcode }}
    </p>

    <p><a href="https://www.google.com/maps?hl=en&q={{ user.coordinate }}">Maps {{ user.coordinate }}</a></p>

  </ul>
  <a class="event-button" href="{% url 'start_event' %}"><div>Ich starte meine eigene Aktion!</div></a>
</div>
{% endblock %}
