{% extends "layouts/base.html" %}
{% block body_class %}thankyou{% endblock %}

{% block content %}
<div class="page">
  <div class="container">

    <div class="row">
      <div class="one-third column offset-by-four">
        <div class="full-width-container final">
          <div class="container">
            <div id="final-image"></div>

            <p>
              Dein Einsatz wird helfen, diese Wahl zu gewinnen.<br />
              <strong>Viel Spaß und Erfolg bei der Aktion!</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="/">&laquo; Zurück zum Anfang</a>

  </div>
</div>
{% endblock %}
