<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <p>{Fritz} —</p>
      <p>Die Verteilaktion am 13. September hat eben die notwenidige Teilnehmerzahl erreicht. Wir schicken heute die Flyer per Post an Michael.</p>
      <p>Alle Antworten, die Du an diese Mailadresse schickst (<a href="mailto:">oqiwjasoijdqw@weilsumwasgeht.at</a>) erreichen alle Teilnehmer:</p>
      <p>
        Fritz<br />
        Susi<br />
        Martin<br />
        Romana<br />
      </p>
      <p>So k&ouml;nnt Ihr Euch einen genauen Treffpunkt vereinbaren.</p>
      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td> <a href="http://htmlemail.io" target="_blank">Lade jetzt sofort Freunde und Bekannte ein</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Danke, Fritz! Gemeinsam werden wir am 2. Oktober erneut erfolgreich sein.<br />
        Weils um was geht.</p>
        <p><br />Team Van der Bellen</p>
      </td>
    </tr>
  </table>