body {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  padding-bottom: 1rem;
  border-bottom: 1px #eee solid;
}
h1,
footer .title {
  font-size: 4rem;
  font-family: 'Caveat Brush';
  letter-spacing: -.05em;
}
h3 {
  line-height: 1.1em;
}
header h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}
header .bpw {
  font-weight: bold;
}
footer {
  font-size: .9em;
  margin-top: 1rem;
  border-top: 1px #eee solid;
  color: #999;
  padding-bottom: 1.5rem;
}
footer a {
  color: inherit;
}
footer p {
  margin: 2rem 0;
}
footer .title {
  float: right;
  margin-right: 5rem;
  margin-top: 1rem;
  color: #aaa;
}

#first-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#second-viewport {
  position: absolute;
  top: 100%; left: 0;
  width: 100%;
}

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
}

h3 {
  font-weight: bold;
}


body.home {
  display: block;
  height:100%;
}

body.home h1 {
  color: #fff;
  position: absolute;
  top: 0; left: 0;
  padding-top: 2.5rem;
  padding-left: 4rem;
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
  z-index: 2;
  text-shadow: rgba(0,0,0,.5) 0 0 .5em;
  box-sizing: border-box;
}

body.home .photowall {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
  background: #ffef99;
  overflow: hidden;
}
body.home .photowall .photo {
  width: 120%;
  height: 100%;
  opacity: .6;
  background-size: cover;
  background-position: -120px;
  /*-webkit-filter:blur(2px);*/
}

body.home h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1em;
}
body.home div.sm-button {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-radius: 1rem;
  letter-spacing: .05rem;
  cursor: pointer;
  max-width: 100%;
  box-size: border-box;
}

body.home .signin-input {
  font-size: 1.2em;
}
body.home #inputPostalcode {
  width: 30%;
  float: left;
}
body.home #inputEmail {
  width: 67%;
  margin-right:3%;
  float: left;
}

body.home input.signin-input::-webkit-outer-spin-button,
body.home input.signin-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body.home .sm-button {
  background-color: #3b5998;
  width: 100%;
  color: white;
}
body.home .sm-button:hover {
  background-color: white;
  color: #3b5998;
}
body.home .signin-input {
  width: 100%;
}
body.home #signup-bubble {
  margin-top: 14rem;
  background: #fff;
  border-radius: 5px;
  padding: 3rem 4rem 1.6rem;
  font-size: 2.2rem;
  box-shadow: rgba(0,0,0,.6) 0 0 2em;
  min-width: 330px;
}
body.home #signup-bubble p {
  font-size: .85em;
  margin: .8em 0 1em;
  line-height: 1.45em;
}

body.home #signup-bubble-2 {
  background: #fff;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 4rem 4rem 1.2rem;
  margin-top: 2rem;
}
body.home #signup-bubble-2 h2 {
  font-size: 3.8rem;
  line-height: 1.1em;
  margin-bottom: 1.2rem;
}

body.home hr {
  margin-top: 0;
  margin-bottom: 1.4em;
}
body.home #signup-bubble button[type="submit"],
body.home #signup-bubble-2 button[type="submit"] {
  font-size: .9em;
  padding: 8px 15px;
  height: auto;
  background: #ffde00;
  max-width: 100%;
  white-space: normal;
}

body.home p.loginDivider {
  margin: .8rem 0;
  font-size: .8em;
  color: #777;
}

body.home header,
body.home footer {
  display: none;
}
body.home #second-viewport footer {
  display: block;
  background: #fff;
  margin-top: 4rem;
}

body.home .explainer {
  background-color: #ffde00;
  padding: 10rem 0 0;
}
body.home .explainer .icon {
  text-align: center;
  padding-top: 2em;
}
body.home .explainer .fa-5x {
  font-size: 10em;
}


body.meetups .coach.full-width-container {
  background-color: #ffde00;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

body.meetups .coach h3 {
  margin: 0 0 .5em;
}

body.meetups .meetup_list h3 {
  font-size: 3rem;
}
body.meetups .coach-photo {
  background-image: url('/static/img/alexandra.jpg');
  background-size: 170%;
  background-position: top;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}

body.meetups .event {
  list-style: none;
}
body.meetups .event p,
body.meetups .event h3 {
  margin-bottom: 0;
}
body.meetups .event-location {
  float:left;
  margin-right: 10px;
}

body.meetups button.event-button {
  padding: 0;
}

body.meetups .join span {
  display: block;
}

body.meetups .event h3 {
  font-size: 2rem;
}
body.meetups .event-button {
  width: 100%;
  background-color: #ffde00;
  font-weight: bold;
}
body.meetups .speech-bubble {
  background: #fff;
  padding: 0 2rem;
  border-radius: 2rem;
}
body.meetups .speech-bubble:before {
  position: relative;
  content: "";
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 1.5rem solid #ffde00;
  border-bottom: 1.5rem solid #ffde00;
  border-right: 1.5rem solid #fff;
  left: -3.4rem;
  top: 3rem;
}
body.meetups .meetup_list p {
  margin: .5em 0;
}
body.meetups .meetup_list .map {
  background: #eee;
  height: 150px;
}
body.meetups .meetup_list .info,
body.meetups .meetup_list .join {
  padding: .5em 0;
}


.meetup_list .meetup {
  border: 1px solid #ccc;
  border-radius: 1rem;
  list-style: none;
}

form .message {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0.01;
}

form .errorlist {
  font-size: 13px;
  text-align: left;
  list-style: none;
  margin: 14px 0;
}
