body {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  margin-bottom: 1rem;
  border-bottom: 1px #eee solid;
}
h1 {
  font-size: 4rem;
  font-family: 'Caveat Brush';
}
header h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}
header .bpw {
  font-weight: bold;
}
footer {
  margin-top: 1rem;
  border-top: 1px #eee solid;
}
footer p {
  margin: 2rem 0;
}
footer .title {
  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: bold;
  color: #999;
}

#first-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#second-viewport {
  position: absolute;
  top: 100%; left: 0;
  width: 100%;
}



body.home {
  display: block;
  height:100%;
}

body.home h1 {
  color: #fff;
  position: absolute;
  top: 0; left: 0;
  padding-top: 2.5rem;
  padding-left: 4rem;
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
  z-index: 2;
  letter-spacing: -.05em;
  text-shadow: rgba(0,0,0,.5) 0 0 .5em;
  box-sizing: border-box;
}

body.home .photowall {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
  background: #ffef99;
  overflow: hidden;
}
body.home .photowall .photo {
  width: 120%;
  height: 100%;
  opacity: .6;
  background-size: cover;
  background-position: -120px;
  /*-webkit-filter:blur(2px);*/
}

body.home h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.05em;
}
body.home div.sm-button {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-radius: 1rem;
  letter-spacing: .05rem;
  cursor: pointer;
  max-width: 100%;
  box-size: border-box;
}

body.home .signin-input {
  font-size: 1.2em;
}
body.home #inputPostalcode {
  width: 30%;
  float: left;
}
body.home #inputEmail {
  width: 67%;
  margin-right:3%;
  float: left;
}

body.home input.signin-input::-webkit-outer-spin-button,
body.home input.signin-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body.home .sm-button {
  background-color: #3b5998;
  width: 100%;
  color: white;
}
body.home .sm-button:hover {
  background-color: white;
  color: #3b5998;
}
body.home .signin-input {
  width: 100%;
}
body.home #signup-bubble {
  margin-top: 10rem;
  background: #fff;
  border-radius: 5px;
  padding: 3rem 4rem 1.6rem;
  font-size: 1.5em;
  box-shadow: rgba(0,0,0,.6) 0 0 2em;
  min-width: 330px;
}
body.home #signup-bubble p {
  font-size: .85em;
  margin: .8em 0 1em;
  line-height: 1.45em;
}

body.home #signup-bubble-2 {
  background: #fff;
  padding: 4rem;
}

body.home hr {
  margin-top: 0;
  margin-bottom: 1.4em;
}
body.home #signup-bubble button[type="submit"] {
  font-size: 1em;
  padding: 8px;
  height: auto;
  background: #ffde00;
}

body.home p.loginDivider {
  margin: .8rem 0;
  font-size: .8em;
  color: #777;
}

body.home .testimonial div {
  background-image: url('../img/alexandra.jpg');
  background-size: 170%;
  background-position: top;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}
body.home .testimonial blockquote {
  font-weight: lighter;
  font-style: italic;
  font-size: 3.6rem;
  margin: 0;
}

body.home header,
body.home footer {
  display: none;
}
body.home #second-viewport footer {
  display: block;
  background: #fff;
  margin-top: 4rem;
}


.event {
  list-style: none;
}
.event p, .event h3 {
  margin-bottom: 0;
}
.event-location {
  float:left;
  margin-right: 10px;
}
.event-date {
}
.event-button {
  width: 100%;
  background-color: #ffde00;
  font-weight: bold;
}


.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin-top: 2rem;
}
.explainer {
  background-color: #ffde00;
  padding: 10rem 0 0;
}

h3 {
  font-weight: bold;
}

.meetup_list .meetup {
  border: 1px solid black;
  list-style: none;
}

form .message {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0.01;
}
