body {
  font-family: 'Source Sans Pro', sans-serif;
}
.event {
  list-style: none;
}
.event p, .event h3 {
  margin-bottom: 0;
}
.event-location {
  float:left;
  margin-right: 10px;
}
.event-date {
}
.event-button > div {
  width: 100%;
  background-color: #ffde00;
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.event-button {
  text-decoration: none;
}

.sm-button > div {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sm-button {
  text-decoration: none;
}
.signin-input {
  width: 100%;
}
