@font-face{
	font-family:'Montserrat-Bold';
	src:url('https://www.vanderbellen.at/fileadmin/Templates/Public/Fonts/Montserrat-Bold.eot');
	src:local('☺'),
		url('https://www.vanderbellen.at/fileadmin/Templates/Public/Fonts/Montserrat-Bold.woff') format('woff'),
		url('https://www.vanderbellen.at/fileadmin/Templates/Public/Fonts/Montserrat-Bold.ttf') format('truetype'),
		url('https://www.vanderbellen.at/fileadmin/Templates/Public/Fonts/Montserrat-Bold.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'Montserrat-Regular';
	src:url('/static/fonts/Montserrat-Regular.eot');
	src:local('☺'),
		url('/static/fonts/Montserrat-Regular.woff') format('woff'),
		url('/static/fonts/Montserrat-Regular.ttf') format('truetype'),
		url('/static/fonts/Montserrat-Regular.svg') format('svg');
	font-weight:normal;
	font-style:normal
}

body {
    background: #fff;
    font-family: 'Montserrat-Regular',sans-serif;
    max-width: 1590px;
    margin: 0 auto;
    overflow-x: hidden;
}

body > .container, header .container, footer .container {
	max-width: none;
	position: static;
} /* counteract skeleton.css conflicting with vdb css */
body .pagecontainer .container {
	padding: 0 20px;
}

/* counteract vdb css */

body .pagecontainer .row, footer .row {
    margin-left: 0px;
    margin-right: 0px;
}

body h1, body .h1, body h2, body .h2, body h3, body .h3 {
	margin-top: 0;
}

/* end counteract vdb css */

body.modal,
body.home #signup-bubble,
body.home #signup-bubble-2,
body.invite button.clipboard,
.titlebar {
	background-color: #ededed;
}

header #logout {
	position: absolute;
	right: .5rem;
	font-size: 1.3rem;
	color: #000;
}

body.meetups .button,
body.meetups ul.amounts li a,
button.button-primary,
body.invite #share-buttons a,
body.modal .pillbtn,
body.home #signup-bubble button[type="submit"],
body.home #signup-bubble-2 button[type="submit"] {
	background-color: #ffff01;
}

body.meetups .speech-bubble:before,
footer .title {
	display: none;
}

body.meetups .coach h3,
body.modal h3 {
	color: #000;
}

body.meetups li.meetup,
body.meetups li.meetup:hover {
    border-color: #fff;
    background: #ededed;
}

body.meetups .meetup_list .join .attending {
	background: #000;
	color: #fff;
}

body.meetups .meetup_list .map,
body.meetups li.meetup,
body.meetups .button,
button.button-primary,
input[type="text"],
body.invite #share-buttons a,
body.modal .pillbtn,
body.meetups .meetup_list .join .attending,
body.meetups .more,
body.meetups .coach-photo,
body.meetups .speech-bubble,
body.home #signup-bubble,
body.home #signup-bubble-2,
body.home #signup-bubble button[type="submit"],
body.home #signup-bubble-2 button[type="submit"],
button.clipboard {
	border-radius: 0;
}
@media (min-width: 550px) {
  body.meetups .speech-bubble {
	border-radius: 0;
  }
}

input[type="text"] {
	border: 0;
}

body.meetups .button,
button.button-primary,
button.button-primary:hover,
input[type="text"]:focus,
body.invite #share-buttons a,
body.modal .pillbtn,
body.meetups ul.amounts li a:hover,
body.home #signup-bubble button[type="submit"],
body.home #signup-bubble-2 button[type="submit"] {
	text-decoration: none;
	border-color: #ffff01;
	color: #000;
}

body.meetups .attending .button {
	border-color: #fff;
}

body.meetups .button:hover,
button.button-primary:hover,
body.invite #share-buttons a:hover,
body.modal .pillbtn:hover,
body.meetups ul.amounts li a:hover,
body.home #signup-bubble button[type="submit"]:hover,
body.home #signup-bubble-2 button[type="submit"]:hover,
body.home .explainer {
	background: #fff;
}

body.invite #share-buttons a,
body.modal .pillbtn,
body.meetups ul.amounts li a {
	border: 1px solid #ffff01;
}


body.meetups .coach.full-width-container {
	padding-top: 0;
}
body.meetups .coach.full-width-container .container {
	padding: 0;
}

body.meetups .titlebar .coach-photo-column {
	width: 100%;
	background-image: url(/static/img/yay.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	float: none;
}
body.meetups .titlebar .container {
	width: 100%;
	max-width: none;
}
body.meetups .coach-photo {
	display: none;
}
body.meetups .titlebar .speech-bubble {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background: inherit;
	float: none;
	box-sizing: border-box;
	padding: 2rem 2rem 0 2rem;
}
@media (min-width: 550px) {
	body.meetups .titlebar .speech-bubble {
		width: 960px;
	}
}
body.meetups .speech-bubble h3 {
	margin-top: 0;
}
body.meetups .coach.full-width-container {
	padding-bottom: 1rem;
}


body.meetups .more {
	background: #fff;
	border: 0;
	width: 18em;
}

body.meetups ul.amounts {
    width: 19em;
}

a,
body.meetups .more {
	color: #000;
	text-decoration: underline;
    border-bottom: none;
}
a:hover {
	color: #000;	
}

body.address form {
    background: #eee;
    padding: .5em 1em;
}

footer {
	background: #000;
	color: #fff;
	border-top: 0;
    line-height: 1.55;
}
footer a:hover {
	color: #ffff01;
}
footer p {
    margin: 0 0 12px; /* restore vdb css */
    line-height: 1.55;
}


body.home #first-viewport {
	position absolute;
	top: 0;
}
body.home #big-photo,
body.home #big-photo .photo {
	height: 500px;
}
body.home #second-viewport,
body.home #big-photo,
body.home #big-photo .photo {
	position: static;
}
body.home header,
body.home footer {
	display: block;
}
body.home h1,
body.home #second-viewport footer,
body.home header #logout {
	display: none;
}
body.home #big-photo .photo {
	opacity: 1;
}


body.invite button.clipboard {
	border: 0;
}
body.invite #invite-url {
	border: 1px solid #666;
}
body.invite .fa-flag {
    text-shadow: none;
}
